* {
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

window#waybar {
    background: #292828;
    color: #ffffff;
}

#workspaces button {
    margin-right: 10px;
    background-color: #292828;
    color: #ffffff;
}

#workspaces button.active {
    background-color: #383737;
}

#battery {
    margin-left: 5px;
    margin-right: 5px;
}

#clock {
    margin-left: 5px;
    margin-right: 5px;
}

#tray {
    margin-left: 5px;
    margin-right: 5px;
}

