#window {
    margin: 5px;
    border: 5px solid #383737;
    background-color: #383737;
}

#input {
    background-color: #383737;
    color: #ffffff;
}

#inner-box {
    background-color: #383737;
}

#outer-box {
    margin: 5px;
    background-color: #383737;
}

#scroll {
    background-color: grey;
}

#text {
    color: #ffffff;
}

#entry:selected {
    background-color: #292828;
}
